/** folha de estilo do site roboticapratica.com
@author Lucas Santos da Silva
@link https://joseassis.com.br
*/
/*Importar fonte*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Jacquarda+Bastarda+9&family=Manrope:wght@200..800&family=Monofett&display=swap');
* {
margin:0;
padding:0;
border:0;
}
/** LAYOUT */
html{
    scroll-behavior:smooth;
}
body{
    font-family:"Manrope",sans-serif;
    font-size: 1em;
}
#logo{
    display: flex;
    justify-content: center; 
}
.top-content{
    background-image: url("./img/background2.jpg");
    background-size: cover;
    background-attachment:fixed;
}
.menuFlex{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    
}
.mixerBottom{
    justify-content: center;
    align-items: center;
    position: relative;
    right:-30px;
}
.bannerContainer{
    color: var(--textoBranco);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding-top: 3%; 
}
.bannerContainer h2{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 10px 0;
}
.main div{
    width: 100%;
    color: var(--textoBranco);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
#blueKnob1{
    background-image: url("./img/blueknob.png");
    background-size: cover;
    height: 42px;
    width: 42px;
    position: relative;
    top: 50px;
    right: -25px;
    transition-duration: 1s;
}
#blueKnob2{
    background-image: url("./img/blueknob.png");
    background-size: cover;
    height: 42px;
    width: 42px;
    position: relative;
    top: 77px;
    right: -25px;
    transition-duration: 1s;
}
#redKnob{
    background-image: url("./img/redknob.png");
    background-size: cover;
    height: 42px;
    width: 42px;
    position: relative;
    top: 18px;
    right: -25px;
    transition-duration: 1s;
}
#blueKnob3{
    background-image: url("./img/blueknob.png");
    background-size: cover;
    height: 42px;
    width: 42px;
    position: relative;
    top: 35px;
    right: -115px;
    transition-duration: 1s;
}
#blueKnob4{
    background-image: url("./img/blueknob.png");
    background-size: cover;
    height: 42px;
    width: 42px;
    position: relative;
    top: -75px;
    right: -115px;
    transition-duration: 1s;
}
#grayKnob1{
    background-image: url("./img/grayknob.png");
    background-size: cover;
    height: 42px;
    width: 42px;
    position: relative;
    top: -23px;
    right: -115px;
    transition-duration: 1s;
}
#grayKnob2{
    background-image: url("./img/grayknob.png");
    background-size: cover;
    height: 42px;
    width: 42px;
    position: relative;
    top: -204px;
    right: -209px;
    transition-duration: 1s;
}
.mixerRightSide:hover #blueKnob1{
    transform: rotate(180deg);
}
.mixerRightSide:hover #blueKnob2{
    transform: rotate(297deg);
}
.mixerRightSide:hover #blueKnob3{
    transform: rotate(250deg);
}
.mixerRightSide:hover #blueKnob4{
    transform: rotate(100deg);
}
.mixerRightSide:hover #redKnob{
    transform: rotate(80deg);
}
.mixerRightSide:hover #grayKnob1{
    transform: rotate(180deg);
}
.mixerRightSide:hover #grayKnob2{
    transform: rotate(99deg);
}
.SlideSection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height:340px;
    padding: 20px;
    background-color: var(--layoutMenuFundo);
    box-shadow: 0px 10px 20px rgba(0,0,0,0.5);
}
.SlideTexto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 65%;
}
.SlideTexto h3{
    font-size: 3em;
    color: var(--textoBranco);
}
#SliderTexto1{
    background-color: var(--selectedItem);
    width: 20%;
    border-radius: 10px;
}
#SliderTexto2{
    background-color: var(--layoutCorSecundaria);
    width: 30%;
    border-radius: 20px;
}
#SliderTexto3{
    background-color: var(--layoutCorPrincipal);
    width: 40%;
    border-radius: 30px;
}
.SlideDiv{
    display: flex;
    flex-direction: row;
    width: 35%;
}
.SlideMenu{
    background-color: var(--layoutPreto);
    overflow: hidden;
    white-space:nowrap;
    width: 50%;
    display: inline-grid;
}
.Slide img:hover,
.SlideContrario img:hover{
    transform: scale(1.05);
}
.SlideContrario img,
.Slide img{
    width: 91.5%;
    margin: 5px 10px;
    transform: scale(1);
    transition: 1s;
}
.Slide{
    animation: 80s slide infinite linear;
    display: inline-grid;
}
.SlideContrario{
    animation: 80s SlideContrario infinite linear;
    display: inline-grid;
}
.SlideMenu:hover .Slide{
    animation-play-state: paused;
}
.SlideMenu:hover .SlideContrario{
    animation-play-state: paused;
}
@keyframes slide {
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-100%);

    }
}
@keyframes SlideContrario{
    from{
        transform: translateY(-100%);
    }
    to{
        transform: translateY(0);

    }
}
@keyframes slideMobile {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);

    }
}
@keyframes SlideContrarioMobile{
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0);

    }
}
@keyframes navigate {
    /* 0 & 100% might not be needed */
      0% {
        opacity: 0%;
      }
      25%{
        opacity: 0%;
      }
      50% {
        opacity: 100%;
      }
      75%{
        opacity: 0%;
      }
      100%{
        opacity: 100%;
      }
    }
#sound-module{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    border-radius: 15px;
    border: 1px solid var(--textoCinza);
    box-shadow: 0px 10px 25px var(--layoutPreto);
}
.cardMenu a{
    text-decoration: none;
    color: var(--textoPreto);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.card{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--layoutCardFundo2);
}
.card img{
    border-radius: 10px;
}
.cardButton{
    display: flex;
    justify-content: center;
    background-color: var(--layoutCorSecundaria);
    color: var(--textoPreto);
    font-weight: 700;
}
.containerSection1 .card .cardButton{
    background-color: var(--layoutCorPrincipal);
    color:var(--textoPreto);
}
.containerSection,
.containerSection1{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.containerSection{
    flex-direction: row;
}
.containerSection1{
    background-color: var(--layoutMenuFundo);
    color: var(--textoBranco);
    flex-direction: row-reverse;
    justify-content: space-between;
}
.containerSection1 .card{
    background-color: var(--layoutCardFundo1);
    color: var(--textoBranco)
}
.containerSection .cardMenu a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.containerSection1 .cardText{
    background-image: url("./img/lcdScreen2.png");
    background-size:100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 292px;
    width: 880px;
}
.containerSection1 .cardText p{
    margin-top: 4%;
}
#giantKnob{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}
.card{
    background-color: var(--layoutCardFundo2);
}
.sectionCategoriaAula{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.menuCategoriaAula{
    display: flex;
    justify-content: space-around;
    background-color: var(--layoutCardFundo);
}
.textoCategoriaAula{
    margin-top: 25px;
    display: flex;
    justify-content: center;
}
.sectionCategoriaAula{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.textoAulas{
    display: flex;
    justify-content: center;
}
.containerAulas{
    background-color: var(--layoutCardFundo);
}
.cardMenuAulas{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cardAulas{
    background-color: var(--layoutCardFundo2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#topo{
    position: fixed;
    bottom:10px;
    right:10px;
    opacity: 50%;
}
.containerFooter{
    display: flex;
    flex-direction: row;
    color: var(--textoBranco);
    justify-content: space-between;
    text-align: center;
    align-items: center;
    width: 100%;
}
footer{
    background-color: var(--layoutMenuFundo);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
:root{
    --textoBranco: #ffffff;
    --textoPreto: #000000;
    --selectedItem: #c90f0f;
    --selectedItem2:#b1ff09;
    --layoutEnfase: #f18716;
    --layoutPreto: #000000;
    --layoutCorPrincipal: #0367A6;
    --layoutCorSecundaria: #F2A007;
    --layoutSombraPrincipal: #022859;
    --layoutSombraPrincipal2: #010D26;
    --layoutSombraSecundaria: #BF5B04;
    --layoutCardFundo:#ebebeb;
    --layoutCardFundo1:#505050;
    --layoutCardFundo2:#e4e3e3;
    --layoutMenuFundo: #1f1e22;
    --textoCinza: #6b6c75;
}




/* Smartphone portrait */
@media (min-width:375px){
    .container{
        max-width:1000px;
    }
    nav,.cardText,#sound-module{
        display: none;
    }
    .divPortable{
        display: flex;
    }
    .top-content{
        height: 600px;
        background-size: 400%;
        background-position: -700px -100px;
    }
    #logo img{
        margin-top: 55px;
        margin-bottom: 0;
        height: 120px;
    }
    #check {
        display: none;
    }
    label{
        font-size: 3em;
        position: fixed;
        top: 5px;
        right: 15px;
        color: rgba(255, 255, 255, 0.5);
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.2);
        padding: 5px;
        border-radius: 25%;
    }
    .divPortable ul {
        list-style: none;
        background-color: rgba(31, 31, 31, 0.70);
        height: 100vh;
        position: fixed;
        top: 80px;
        right: -100%;
        width: 90%;
        transition: all 0.5s;
        z-index: 1;
    }   
    #check:checked~ul {
        right: 0%;
    }
    .divPortable ul li {
        padding: 17px 20px;
        border-bottom: 1px solid #a9a9a9;
        text-align: right;
    }
    .divPortable ul li a {
        text-decoration: none;
        color: #fff;
    }
    #menuButton1,
    #menuButton2,
    #menuButton3,
    #menuButton4,
    #menuButton5 {
    padding-right: 5px;
    display: inline;
    color:var(--layoutEnfase);
    animation-name: introAnimation;
    animation-duration: 2s;
}
    .bannerFlex{
        height: 480px;
        justify-content: center;
    }
    .bannerContainer{
        height: 100%;
        flex-direction: column;
        justify-content: center;
    }
    .bannerContainer h1{
        font-size: 2.3em;
    }
    .bannerContainer h2{
        font-size: 1.3em;
    }
    .SlideSection{
        padding: 0;
    }
    .SlideTexto{
        width: 65%;
        font-size: 0.6em;
    }
    #SliderTexto1{
        width: 50%;
    }
    #SliderTexto2{
        width: 80%;
    }
    #SliderTexto3{
        width: 95%;
    }
    .containerSection,
    .containerSection1{
        height: 700px;
        padding: 0 10px;
    }
    .containerSection1{
        flex-direction: column;
        padding: 0 0;
    }
    .cardMenu{
        height: 100%;
        width: 100%;
        justify-content: center;
    }
    .cardMenu a{
        height: 100%;
    }
    .card{ 
        justify-content: center;
        padding: 10px;
        height: 100%;
        width: 100%;
        margin-top: 50px;
    }
    .containerSection1 .card{
        justify-content: center;
    }
    .card img{
        height: 30%;
        width: 100%;
    }
    .card h4{
        font-size: 2em;
        margin-top: 50px;
    }
    .card p{
        margin: 30px 0 40px 0;
    }
    .cardButton{
        height: 40px;
        width: 170px;
        text-align: center;
        align-items: center;
    }
    .cardButton p{
        font-size: 1.2em;
        margin-top: 0 0 0 0;
    }
    #sound-module{
        width: 100%;
        height: 30%;
    }
    #giantKnob img{
        height: 80px;
        width: 80px;
    }
    .menuCategoriaAula{
        flex-direction: column;
        width: 100%;
    }
    .menuCategoriaAula .card{
        padding: 0;
    }
    .cardAulas{
        margin-bottom: 25px;
        height: 230px;
        justify-content: space-around;
    }
    .cardAulas img{
        height: 120px;
    }
    .cardAulas h4{
        font-size: 2em;
    }
    .cardAulas p{
        font-size: 1em;
    }
    #social img{
        height: 25px;
    }
    footer{
        height: 35px;
    }
    .containerFooter{
        padding: 0 10px;
    }
}
/* Smartphone landscape */
@media (min-width:576px){
    .container{
        max-width:540px;
    }
    .top-content{
        background-size: 230%;
     }
    .containerSection,
    .containerSection1{
        height: 500px;
    }
    .card{
        justify-content: center;
    }
    .card p{
        top: 0%;
        margin: 20px 0 30px 0 ;
    }
    .card h4{
        margin-top:30px;
    }
    .card img{
        height: 35%;
        width: 50%;
    }
}
/* Tablet portrait */
@media (min-width:768px){
    .container{
        max-width:720px;
    }
    .top-content{
       background-size: 200%;
       height: 685px;
    }
}
/* Tablet landscape */
@media (min-width:992px){
    .container{
        max-width:960px;
        font-size: 30px;
    }
}
/* PCs, notebooks HD ou TV */
@media (min-width:1200px){
    .container{
        max-width:1000px;
    }
    nav,.cardText,#sound-module{
        display: flex;
    }
    #logo{
        height: 40%;
        width: 100%;
       
    }
    #logo img{
        height: 9em;
        width: 11em;
        margin-top: 15px;
    }
    .top-content{
        background-image: url("./img/background2.jpg");
        background-size: 170%;
        height: 680px;
        background-attachment:fixed;
        display: flex;
        flex-direction: column;
    }
    .bannerFlex{
        height: 405px;
        display: flex;
        flex-direction: column;
    }
    .bannerContainer{
        height: 60%;
    }
    .menuFlex{
        width: 100%;
        height: 50%;
    }
    header{
        height: 250px;
        margin-bottom: 25px;
    }
    .mixerBottom{
        background-image: url("./img/mixerBottom.png");
        background-size: cover;
        height: 46px;
        width: 957px;
    }
    .divPortable{
        display:none;
    }
    .mixerRightSide{
        background-image: url("./img/mixerRightSide.png");
        background-size: cover;
        height: 250px;
        width: 327px;
    }
    .mixerLeftSide{
        background-image: url("./img/mixerLeftSide.png");
        background-size: cover;
        height: 250px;
        width: 35px;
    }
    .menuFlex{
        height: 100%;
    }
    nav label{
        display: none;
    }
    .menuMixer .label a{
        font-size: 1.1em;
        font-weight: 800;
    }
    #check{
        display: none;
    }
    .menuMixer{
        display: flex;
        flex-direction: row;
        position: relative;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 250px;
        background-size: cover;
    }
    .fader{
        background-image: url("./img/mixerMenu2.png");
        background-size: auto;
        margin-right: 5px;
        height: 250px;
        width: 140px;
        text-align: center;
    }
    .menuMixer a{
        text-decoration: none;
        background-image: url("./img/menuBackground.png");
    }
    .fader p{
        position: relative;
        top:215px;
        color: var(--textoPreto);
        font-weight: 800;
        font-size: 1.1em;
    }
    .containerSection{
        padding: 0px;
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        text-align: center;
    }
    #slider1{
        background-image: url("./img/sliderBanner.png");
        background-size: auto;
        height: 56px;
        width: 27px;
        position: relative;
        top: 120px;
        right: -38%;
        transition: 1s;
    }
    .fader:hover #slider1{
        top: 0px;
    }
    #slider2{
        background-image: url("./img/sliderBanner.png");
        background-size: auto;
        height: 56px;
        width: 27px;
        position: relative;
        top: 120px;
        right: -38%;
        transition: 1s;
    }
    .fader:hover #slider2{
        top: 0px;
    }
    #slider3{
        background-image: url("./img/sliderBanner.png");
        background-size: auto;
        height: 56px;
        width: 27px;
        position: relative;
        top: 120px;
        right: -38%;
        transition: 1s;
    }
    .fader:hover #slider3{
        top: 0px;
    }
    #slider4{
        background-image: url("./img/sliderBanner.png");
        background-size: auto;
        height: 56px;
        width: 27px;
        position: relative;
        top: 120px;
        right: -38%;
        transition: 1s;
    }
    .fader:hover #slider4{
        top: 0px;
    }
    #slider5{
        background-image: url("./img/sliderBanner.png");
        background-size: auto;
        height: 56px;
        width: 27px;
        position: relative;
        top: 120px;
        right: -38%;
        transition: 1s;
    }
    .fader:hover #slider5{
        top: 0px;
    }
    nav{
        display:grid;
    }
    .fader:hover #light1{
        animation: navigate 1s infinite;
    }
    #light1{
        width: 10px;
        height: 10px;
        background-image: url("./img/light.png");
        background-size:cover;
        position: relative;
        top:-70px;
        left:46%;
        z-index: 1;
        opacity: 0%;
    }
    .fader:hover #light2{
        animation: navigate 0.5s infinite;
    }
    #light2{
        width: 10px;
        height: 10px;
        background-image: url("./img/light.png");
        background-size:cover;
        position: relative;
        top:-70px;
        left:46%;
        z-index: 1;
        opacity: 0%;
    }
    .fader:hover #light3{
        animation: navigate 0.5s infinite;
    }
    #light3{
        width: 10px;
        height: 10px;
        background-image: url("./img/light.png");
        background-size:cover;
        position: relative;
        top:-70px;
        left:46%;
        z-index: 1;
        opacity: 0%;
    }
    .fader:hover #light4{
        animation: navigate 0.5s infinite;
    }
    #light4{
        width: 10px;
        height: 10px;
        background-image: url("./img/light.png");
        background-size:cover;
        position: relative;
        top:-70px;
        left:46%;
        z-index: 1;
        opacity: 0%;
    }
    .fader:hover #light5{
        animation: navigate 0.5s infinite;
    }
    #light5{
        width: 10px;
        height: 10px;
        background-image: url("./img/light.png");
        background-size:cover;
        position: relative;
        top:-70px;
        left:46%;
        z-index: 1;
        opacity: 0%;
    }
    main div{
        height: 500px;
    }
    main div h1{
        font-size: 4em;
    }
    main div h2{
        font-size: 1.275em;
    }
    .containerSection,
    .containerSection1{
        height:600px;
        flex-direction: row;
        transition: 1s;
    }
    .containerSection:hover,
    .containerSection1:hover{
        height:800px;
        padding: 0;
    }
    .SlideSection{
        height: 300px;
        transition: 1s;
        margin-bottom: 25px;
    }
    .cardMenu{
        width: 40%;
        height: 98%;
    }
    .cardMenu a{
        width: 100%;
        height: 100%;
    }
    #sound-module{
        height: 250px;
        width: 40%;
    }
    #giantKnob{
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 1s;
        width: 50%;
        height: 600px;
    }
    #giantKnob img{
        width: 16em;
        height: 16em;
    }
    .containerSection1:hover #giantKnob{
        transform: rotate(50deg);
    }
    .card{
        border-radius: 10px;
        width: 420px;
        height: 95%;
        margin: 0px;
        padding: 15px;
    }
    .card h4{
        margin-top: 20px;
        font-size: 2em;
    }
    .card p{
        margin-top: 20px;
        font-size: 1.2em;
        top: 0px;
    }
    .card img{
        height: 260px;
        width: 420px;
    }
    .cardText{
        margin: 1%;
        width: 60%;
        flex-direction: column;
    }
    .cardText h3{
        font-size: 2.2em;
    }
    .cardText p{
        font-size: 2em;
    }
    .cardButton{
        height: 50px;
        width: 200px;
        margin-top: 20px;
    }
    .containerSection1 .cardMenu{
        color: var(--textoPreto);
    }
    .containerSection1 #sound-module{
        font-size: 0.6em;
        color: var(--textoPreto);
        height: 360px;
        width: 60%;
    }
    .sectionCategoriaAula{
        height: 700px;
        flex-direction: column;
    }
    .menuCategoriaAula{
        height: 600px;
        width: 100%;
        flex-direction: row;
    }
    .textoCategoriaAula, .textoAulas{
        margin-top: 25px;
        height: 150px;
        font-size: 2.6em;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .textoCategoriaAula h3, .textoAulas h4{
        height: 70px;
    }
    .textoAulas h4{
        font-size: 1em;
    }
    .sectionAula{
        flex-direction: column;
    }
    .cardMenuAulas{
        flex-direction: row;
    }
    .cardAulas{
        height: 305px;
        width: 365px;
        margin: 10px;
        flex-direction: column;
    }
    .cardAulas h4{
        font-size: 2em;
    }
    .cardAulas p{
        font-size: 1.2em;
    }
    .cardAulas img{
        width: 250px;
        height: 170px;
    }
    #social img{
        height: 40px;
        width: 40px;
    }
    .containerFooter{
        height: 60px;
    }
    footer{
        margin-top: 25px;
        height: 60px;
    }
    .SlideTexto h3{
        font-size: 5em;
    }
    #SliderTexto1{
        width: 20%;
        border-radius: 10px;
    }
    #SliderTexto2{
        width: 30%;
        border-radius: 20px;
    }
    #SliderTexto3{
        width: 40%;
        border-radius: 30px;
    }
}
/* PCs ou notebooks Full HD */
@media (min-width:1400px){
    .container{
        max-width:1140px;   
    }
}