/** folha de estilo do site roboticapratica.com
@author Lucas Santos da Silva
@link https://joseassis.com.br
*/
/*Importar fonte*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Jacquarda+Bastarda+9&family=Manrope:wght@200..800&family=Monofett&display=swap');
/* CSS RESET */
* {
margin:0;
padding:0;
border:0;
}
/** LAYOUT */
html{
    scroll-behavior:smooth;
}
body{
    font-family:"Manrope",sans-serif;
    font-size: 1em;
    
}
body h2, h3, p{
    color:var(--pretoLayout);
}
section{
    margin: 0 auto ;
    display: flex; 
    justify-content: center;
    
}
h1{
    font-size:2em;
}
/* Centralização de conteúdo */
.Container{
    margin:0 auto;
    padding:50px 15px 50px 15px;
}
.MenuFlex{
    flex-direction: row;
    display:flex;
    justify-content: space-between;
    background-color:#1b1b1b
}

.Flex{
    display:flex;
    justify-content:space-between;
}
/*Banner*/

main {
    background: url(./img/background.jpg);
    height: 55vh;
    background-size:cover;
    background-position:center;
    text-align:center;
    text-shadow: 0.2em 0.2em #000000;
}

/*
#banner{
    position: absolute;
    right:50%;
    top:50%;
    transform: translate(-50%, -50%)
    text-align: center;
}
*/
main h2{
    color: var(--textoLayout);
    margin-bottom: 25px;
    font-size: 1em;
    font-weight: 300;
}
main h1{
    color: var(--textoLayout);
    display: inline;
    font-size: 1.5em;
    font-weight: 700;
}
.Card{
    margin-top: 0px;
    width: 338px;
    height: 520px;
    background-color: var(--backgroundCard);
    border-radius: 15px;
    /*
    border: 1px solid var(--bordaLayout);
    
    */
    align-items: center;
    text-align: center;
    
}
.Card img{
    border-radius: 25px 25px 0px 0px;
}
.Card h3 {
    margin: 150px 30px 0px 30px;
}
.Card p {
    padding: 10px 30px 25px 30px;
    text-align: left;
    color: var(--cinzaTexto);
}
.Button{
    text-decoration: none;
    background-color: var(--vermelhoLayout);
    color: var(--textoLayout);
    padding: 10px 40px;
    /*
    border: 1px solid var(--bordaLayout);
    */
    border-radius: 10px;
    font-size: 1.2em;
    font-weight: 700;
}
#logo img{
    width:130px;
    height:100px;
    margin: 10px 0px 0px 10px;
}
footer{
    background-color:var(--pretoLayout);
    color:var(--textoLayout);
    text-align:center;
    position: relative;
    bottom: 0px;
    width: 100%;
}
footer p{
    color:var(--textoLayout);
}
#social{
    margin-bottom:25px;   
}
header a{
    text-decoration:none;
    color:white;
}
footer a{
    text-decoration:none;
}
#topo{
    opacity: 50%;
}
:root{
    --textoLayout:#ffffff;
    --pretoLayout:#000000;
    --backgroundCard: #f1f3f5;
    --bordaLayout: #000;
    --borda: #000;
    --vermelhoLayout: #c00000;
    --cinzaTexto: #434343;
}





/* Smartphone portrait */
@media (min-width:375px){
    #social{
        margin-bottom:0px;       
    }
    footer p{
        font-size:0.75em;
    }
    footer div a img{
        width: 30px;
        height: 30px;   
        display: inline-block; 
    }
    footer div{
        margin:10px;
    }
    #topo{
        height: 0px;
        width: 0px;
        position:fixed;
        bottom: 100px;
        right: 100px;
        color: rgba(0, 0, 0, 0.2)
    }
    #topo img{
        height: 85px;
        width: 85px;
    }
    /********** Cabeçalho **********/
    .Container{
        max-width:350px;
    }
    .MenuFlex {
        height: 70px;
        margin: auto;
        align-items:center;
    }
    #logo img{
        width:53px;
        height:48px;
        margin: 10px 0px 0px 10px;
    }
    #check{
        display:none;
        
    }
    label {
        font-size: 1em;
        position: fixed;
        top: 5px;
        right: 10px;
        font-size:3em;
        color:var(--textoLayout)
    }
    nav ul{
        list-style: none;
        height: 100vh;
        position: fixed;
        top: 80px;
        right: -70%;/*estratégia para remover menu */
        width:70%;
        transition: all 0.5s;
    }
    #check:checked~ul{
        right: 0;
    }
    nav ul li{
        border-bottom: 0.5px solid var(--borda);
        padding: 15px;
    }
    nav ul li a{
        text-decoration: none;
        color: var(--textoLayout)
    }
    #banner{
        align-content: center;
    }
}
/* Smartphone landscape */
@media (min-width:576px){
    .Container{
        max-width:540px;
    }
    .Flex{
        flex-direction:row-reverse;
        justify-content:space-between;
        align-items:center;
    }
    #social{
        margin-bottom:0px;
    }
    .Card{
        background-color: #edecec;
    }
    #topo{
        height: 0px;
        width: 0px;
        position:fixed;
        bottom: 100px;
        right: 100px;
        color: rgba(0, 0, 0, 0.2)
    }
    #topo img{
        height: 85px;
        width: 85px;
    }
    /********** Cabeçalho **********/
    .MenuFlex {
        height: 50px;
        margin: auto;
        align-items:center;
        justify-content: space-between;
    }
    #logo img{
        width:55px;
        height:45px;
        margin: 10px 0px 0px 10px;
    }
    label {
        position: fixed;
        top: 5px;
        right: 10px;
        font-size:1.5em;
        color:var(--textoLayout)
    }
    
}
/* Tablet portrait */
@media (min-width:768px){
    .Container{
        max-width:720px;
    }
    /********** Cabeçalho **********/
    .MenuFlex {
        height: 70px;
        margin: auto;
        align-items:center;
        justify-content: space-between;
    }
    body{
        font-size: 200%;
    }
    #logo img{
        width:55px;
        height:45px;
        margin: 10px 0px 0px 10px;
    }
    label {
        font-size: 1.5em;
        position: fixed;
        top: 5px;
        right: 10px;
    }
    .Card{
        margin-top: 30px;
        width: 638px;
        height: 780px;
    }
    .Card img{
        height: 300px;
        width: 350px;
    }
    .Card h3 {
        margin: 150px 30px 0px 30px;
    }
    .Card p {
        padding: 10px 30px 25px 30px;
        
    }

}
/* Tablet landscape */
@media (min-width:992px){
    .Container{
        max-width:960px;
    }
    /********** Cabeçalho **********/
    .MenuFlex {
        height: 70px;
        margin: auto;
        align-items:center;
        justify-content: space-between;
        
    }
    .MenuFlex a{
        font-size: 4em;
    }
    #logo img{
        width:55px;
        height:45px;
        margin: 00px 0px 0px 10px;
    }
    label {
        font-size: 1.5em;
        position: fixed;
        top: 5px;
        right: 10px;
    }
}
/* PCs, notebooks HD ou TV */
@media (min-width:1200px){
    .Container{
        max-width:1000px;
    }
    .Flex{
        flex-direction:row-reverse;
        justify-content:space-between;
        align-items:center;
    }
    .MenuFlex {
        height: 130px;
        margin: auto;
        align-items:center;
        justify-content: space-between;
    }
    #logo img{
        width:130px;
        height:100px;
        margin: 10px 0px 0px 10px;
    }
    label {
        display: none;
    }
    nav ul{
        list-style: none;
        height: auto;
        position: static;
        width:100%;
        transition: none;
    }
    nav ul li{
        border: 0;
        float: left;
    }
    nav ul li a{
        color: var(--textoLayout)
    }
    nav ul li a:hover{
        color: var(--vermelhoLayout);
    }
}
/* PCs ou notebooks Full HD */
@media (min-width:1400px){
    .Container{
        max-width:1140px;   
    }
    .MenuFlex {
        height: 130px;
        margin: auto;
        align-items:center;
        justify-content: space-between;
    }
    #logo img{
        width:130px;
        height:100px;
        margin: 10px 0px 0px 10px;
    }
    label {
        display: none;
    }
}
