/** folha de estilo do site roboticapratica.com
@author Lucas Santos da Silva
@link https://joseassis.com.br
*/
/*Importar fonte*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Jacquarda+Bastarda+9&family=Manrope:wght@200..800&family=Monofett&display=swap');
/* CSS RESET */
* {
margin:0;
padding:0;
border:0;
}
/** LAYOUT */
html{
    scroll-behavior:smooth;
}
body{
    font-family:"Manrope",sans-serif;
    font-size: 1em;
    
}
body h2, h3, p{
    color:var(--pretoLayout);
}
h1{
    font-size:2em;
}
header a{
    text-decoration:none;
    color:var(--textoBranco);
}
section{
    display: flex; 
    justify-content: center;
}

#titulo {
    display: flex;
    flex-direction: row;
    margin: 0px 0px 0px 0px ;
    text-align: center;
}
#titulo h2{
    width: 100%;
}
/*Banner*/

main {
    display:flex;
    background: url(./img/background2.jpg);
    height: 55vh;
    background-size:cover;
    background-position:center;
    text-align:center;
    justify-content: center;
    align-items: center;
    text-shadow: 0.2em 0.2em var(--layoutPreto);

}
/*
#banner{
    position: absolute;
    right:50%;
    top:50%;
    transform: translate(-50%, -50%)
    text-align: center;
}
*/
main h2{
    color: var(--textoBranco);
    margin-bottom: 25px;
    font-size: 1em;
    font-weight: 300;
}
main h1{
    color: var(--textoBranco);
    display: inline;
    font-size: 1.5em;
    font-weight: 700;
}
/* Centralização de conteúdo */
.Container{
    margin:0 auto;
    padding:50px 15px 50px 15px;
    flex-direction:row;
}
#logo img{
    width:130px;
    height:100px;
    margin: 10px 0px 0px 10px;
}
.MenuFlex{
    flex-direction: row;
    display:flex;
    justify-content: space-between;
    background-color:var(--layoutMenuFundo);
}
label {
    color:var(--textoBranco);
}
#s1,
#s2,
#s3,
#s4 {
    display: none;
}
.Flex{
    display:flex;
    justify-content:space-between;
    flex-direction:row;
}
.Card{

    margin-top: 0px;
    width: 338px;
    height: 520px;
    background-color: var(--layoutCardFundo);
    border-radius: 15px;
    /*
    border: 1px solid var(--bordaLayout);
    
    */
    align-items: center;
    text-align: center;
    
}
.Card img{
    border-radius: 25px 25px 0px 0px;
}
.Card video{
    border-radius: 25px 25px 0px 0px;
}
.Card h3 {
    margin: 150px 30px 0px 30px;
}
.Card p {
    padding: 10px 30px 25px 30px;
    text-align: center;
    color: var(--textoCinza);
}
.Button{
    text-decoration: none;
    background-color: var(--layoutCorSecundaria);
    color: var(--textoPreto);
    padding: 10px 40px;
    /*
    border: 1px solid var(--bordaLayout);
    */
    border-radius: 10px;
    font-size: 1.2em;
    font-weight: 700;
}
footer{
    background-color:var(--layoutPreto);
    color:var(--textoPreto);
    text-align:center;
    position: relative;
    bottom: 0px;
    width: 100%;
}
footer p{
    color:var(--textoPreto);
}
#social{
    display: flex;
    flex-direction: row;
    margin: 0px;
}
#social a {
    padding-right: 10px;
    margin:0px;
}
#social a{
    height: 30px;
    width: 30px;
}

footer a{
    text-decoration:none;
}
#topo{
    opacity: 50%;
}
#copyright p{
    color:var(--textoBranco);
}
footer div a img{  
    display: inline-block; 
}
:root{
    --textoBranco: #ffffff;
    --textoPreto: #000000;
    --selectedItem: #c90f0f;
    --selectedItem2:#b1ff09;
    --layoutEnfase: #f18716;
    --layoutPreto: #000000;
    --layoutCorPrincipal: #0367A6;
    --layoutCorSecundaria: #F2A007;
    --layoutSombraPrincipal: #022859;
    --layoutSombraPrincipal2: #010D26;
    --layoutSombraSecundaria: #BF5B04;
    --layoutCardFundo:#ebebeb ;
    --layoutMenuFundo: #1f1e22;
    --textoCinza: #6b6c75;
}





/* Smartphone portrait */
@media (min-width:375px){
    #topo{
        height: 0px;
        width: 0px;
        position:fixed;
        bottom: 100px;
        right: 100px;
        color: rgba(var(--textoPreto), 0.2)
    }
    #topo img{
        height: 85px;
        width: 85px;
    }
    .Flex{
        flex-direction:row-reverse;
    }
    /********** Cabeçalho **********/
    .Container{
        max-width:350px;
    }

    .MenuFlex {
        height: 70px;
        margin: auto;
        align-items:center;
    }
    #logo img{
        width:63px;
        height:48px;
        margin: 10px 0px 0px 10px;
    }
    #check{
        display:none;
        
    }
    label {
        font-size: 1.5em;
        position: fixed;
        top: 17px;
        right: 10px;
    }
    nav ul{
        list-style: none;
        height: 100vh;
        position: fixed;
        top: 70px;
        right: -70%;/*estratégia para remover menu */
        width:70%;
        transition: all 0.5s;
        background-color: rgba(31, 30, 34, 0.8);
    }
    nav li:hover{
        background-color: var(--layoutEnfase);
        transition: all 0.5s;
    }
    #check:checked~ul{
        right: 0px;
    }
    nav ul li{
        padding: 15px;
    }
    nav ul li a{
        text-decoration: none;
        color: var(--textoBranco)
    }
    /* main e section */
    #banner{
        align-content: center;
    }
    .Card{
        background-color: var(--layoutCardFundo);
    }
    /* Rodapé */
    footer p{
        font-size:0.75em;
    }
    footer div a img{
        width: 30px;
        height: 30px;   
        display: inline-block; 
    }
    footer div{
        margin:10px;
    }
}
/* Smartphone landscape */
@media (min-width:576px){
    .Container{
        max-width:540px;
    }
    .Flex{
        justify-content:space-between;
        align-items:center;
    }
    .Card{
        background-color: var(--layoutCardFundo);
    }
    #topo{
        height: 0px;
        width: 0px;
        position:fixed;
        bottom: 85px;
        right: 85px;
        color: rgba(0, 0, 0, 0.2)
    }
    #topo img{
        height: 85px;
        width: 85px;
    }
    /********** Cabeçalho **********/
    .MenuFlex {
        height: 70px;
        margin: auto;
        align-items:center;
        justify-content: space-between;
    }
    #logo img{
        width:63px;
        height:48px;
        margin: 10px 0px 0px 10px;
    }
    label {
        font-size: 1.5em;
        position: fixed;
        top: 17px;
        right: 10px;
    }
    nav ul{
        height: 5vh;
    }
    nav li{
        background-color: rgba(0, 0, 0, 0.8);
    }
}
/* Tablet portrait */
@media (min-width:768px){
    .Container{
        max-width:720px;
    }
    .MenuFlex a{
        font-size: 4em;
    }
    #logo img{
        width:55px;
        height:45px;
        margin: 10px 0px 0px 10px;
    }
    
    .Container{
        font-size: 30px;
    }
    #social img{
        height: 50px;
        width: 50px;
    }
    #social a{
        padding: 15px;
    }
    /* Destacar link ativo do menu */
    #s1,
    #s2,
    #s3,
    #s4,
    #s5 {
        display: inline;
        color:var(--selectedItem);
        animation-name: introAnimation;
        animation-duration: 2s;
    }

    @keyframes introAnimation {
        from {padding-right: 15px; opacity: 0%;}
        to {padding-right: 5px; opacity: 100%;}
    }
    /********** Cabeçalho **********/
    .MenuFlex {
        height: 70px;
        display: flex;
        margin: auto;
        align-items:center;
        align-content: flex-start;
        justify-content: space-between;
        position: relative;
        top: 0px;
    }
    body{
        font-size: 5px;
    }
    #logo img{
        width:55px;
        height:45px;
        margin: 10px 0px 0px 10px;
        position: absolute;
        top: 0px;
        left: 0px;
    }
    label {
        font-size: 1.5em;
        position: fixed;
        top: 17px;
        right: 10px;
    }
    .Card{
        margin-top: 30px;
        width: 638px;
        height: 780px;
    }
    .Card img{
        height: 300px;
        width: 350px;
    }
    .Card h3 {
        margin: 150px 30px 0px 30px;
    }
    .Card p {
        padding: 10px 30px 25px 30px;
        
    }
    .MenuFlex a{
        font-size: 8em;
    }
}
/* Tablet landscape */
@media (min-width:992px){
    .Container{
        max-width:960px;
    }
    body{
        font-size: 5px;
    }
    /********** Cabeçalho **********/
    .MenuFlex {
        height: 70px;
        margin: auto;
        align-items:center;
        justify-content: space-between;
        
    }
    .MenuFlex a{
        font-size: 5em;
    }
    #logo img{
        width:55px;
        height:45px;
        margin: 10px 0px 0px 10px;
    }
    label {
        font-size: 1.5em;
        position: fixed;
        top: 17px;
        right: 10px;
    }
    .Container{
        font-size: 30px;
    }
    #social img{
        height: 50px;
        width: 50px;
    }
    /* Destacar link ativo do menu */
    #s1,
    #s2,
    #s3,
    #s4,
    #s5 {
        display: inline;
        color:var(--layoutCorSecundaria);
    }
}
/* PCs, notebooks HD ou TV */
@media (min-width:1200px){
    .Container{
        max-width:1000px;
    }
    .Flex{
        flex-direction:row-reverse;
        justify-content:space-between;
        align-items:center;
    }
    .MenuFlex {
        height: 130px;
        margin: auto;
        align-items:center;
        justify-content: space-between;
    }
    #logo img{
        width:130px;
        height:100px;
        margin: 10px 0px 0px 10px;
    }
    label {
        display: none;
    }
    nav ul{
        list-style: none;
        height: auto;
        position: static;
        width:100%;
        transition: none;
        
    }
    nav ul li{
        border: 0;
        float: left;
        background-color: rgba(0, 0, 0, 0);
        font-size: 0.8em;
    }
    nav ul li a{
        color: var(--textoBranco)
        
    }
    nav ul li a:hover{
        color: var(--vermelhoLayout);
    }   
    .Card{
        width: 500px;
        height: 550px;
    }  
    .Card h2, h3{
        font-size: 1em;
    }
    .Card img{
        height: 200px;
        width: 250px;
    }
    .Card p{
    font-size: 0.5em;
    }
    .Card h3{
        margin-top: 100px;
        font-size: 0.8em;
    }
    .Button {
        font-size: 0.8em;
    }
    /* Destacar link ativo do menu */
    #s1,
    #s2,
    #s3,
    #s4,
    #s5 {
        display: inline;
        color:var(--layoutCorSecundaria);
    }
}
/* PCs ou notebooks Full HD */
@media (min-width:1400px){
    .Container{
        max-width:1140px;   
    }
    .MenuFlex {
        height: 170px;
        width:100%;
        display:flex;
        flex-direction: column;
        margin: auto;
        align-content:center;
        
        justify-content: center;

    }
    #logo img{
        width:130px;
        height:100px;
        margin: 10px 0px 0px 10px;
        position: relative;
    }
    label {
        display: none;
    }
    /* Destacar link ativo do menu */
    #s1,
    #s2,
    #s3,
    #s4,
    #s5 {
        display: inline;
        color:var(--layoutCorSecundaria);
    }
   
}